{% extends "base.html" %} {% block content %}
<div style="margin-top: 50px">
  <form
    style="
      width: 50%;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    "
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2 style="text-align: center; color: #000000">Update Recipe</h2>
    <hr style="border-top: 2px solid #000" />

    <div style="margin-bottom: 15px">
      <label style="font-weight: bold; font-size: 1.2em; color: #000"
        >Recipe Name</label
      >
      <input
        name="recipe_name"
        value = "{{recipe.recipe_name}}"
        required
        type="text"
        style="
          width: 100%;
          border: 2px solid #000;
          padding: 10px;
          border-radius: 5px;
          box-sizing: border-box;
        "
      />
    </div>

    <div style="margin-bottom: 15px">
      <label style="font-weight: bold; font-size: 1.2em; color: #000"
        >Recipe Description</label
      >
      <textarea
        name="recipe_description"
        required
        style="
          width: 100%;
          border: 2px solid #000;
          padding: 10px;
          border-radius: 5px;
          box-sizing: border-box;
        "
      >{{recipe.recipe_description}}</textarea>
    </div>

    <div style="margin-bottom: 15px">
      <label style="font-weight: bold; font-size: 1.2em; color: #000"
        >Recipe Image</label
      >
      <input
        name="recipe_image"
        type="file"
        required
        style="
          width: 100%;
          border: 2px solid #000;
          padding: 10px;
          border-radius: 5px;
          box-sizing: border-box;
        "
      />
    </div>

    <button
      type="submit"
      style="
        width: 100%;
        background-color: #117418;
        color: #fff;
        padding: 10px;
        font-size: 1.2em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      "
    >
      Update Recipe
    </button>
  </form>


 

{% endblock %}
